* {
	box-sizing: border-box;
}
html {
	height: 100%;
	font-size: 62.5%;
}
body {
	margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.temp {
	z-index: 6;
	margin: 0 auto;
	padding: 0;
	top: 0;
	left: 37vw;
	position: absolute;
	font-size: 2vw;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
.wrapper-background {
	/* The image used */
    background-image: url("images/pic04_comp.jpg");

    /* Full height */
    height: 100%; 
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -ms-content-zooming: none;
    position: absolute;
    overflow: scroll;
}

.square {
	/* Responsive Square */
	height: 0;
	width: 30%;
	padding-bottom: 38%; /* change height of box */
	position: relative;
	margin: auto;
	overflow: hidden;
	top: 4%;
	
	/* Border */
	border: 1px;
	border-radius: 5px;
	background-color: #FBFBFB;
	z-index: 2;
	opacity: 0.92;
}

.content {
	position: absolute;
    height: 90%; /* = 100% - 2*10% padding */
    width: 100%; /* = 100% - 2*5% padding */
    padding: 2% 5%; /* change height change width */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.name {
	font-size: 2.4vw;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-weight: normal;
	margin: 0;
	padding-top: 7%; 
}

.title {
	font-size: 1.6vw;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-weight: normal;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 8%;
	border-bottom: 1px solid #E8E8E8;
}

.centimg {
	width: 100%;
	height: auto;
}

/* Position buttons in bottom of square */
.wrapper {
  position: absolute;
  top: 92%;
  left: 50%;  
  transform: translate(-48%, -50%);
  width: 30vw;
  font-size: .8vw;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
 .wrapper ul li {
  width: 2.6vw; /* adjust width of icon circle */
  height: 2.6vw; /* adjust height of icon circle */
  line-height: .1vw; /* move icon image up and down */
  margin: 0% 10%;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
  padding: 0;
  overflow: hidden;
  display: inline;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
  color: #D8E2DC;
  margin: .4vw auto;
  transition: all 0.5s ease;
} 

/* instagram */
.wrapper ul li:hover.instagram {
  border: 2px solid #E705C5;
  box-shadow: 0 0 5px #E705C5;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #E705C5;
  text-shadow: 0 0 5px #E705C5;
  transition: all 0.5s ease;
}

/* github */
.wrapper ul li:hover.github {
  border: 2px solid #9E9E9E;
  box-shadow: 0 0 5px #9E9E9E;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-github {
  color: #9E9E9E;
  text-shadow: 0 0 5px #9E9E9E;
  transition: all 0.5s ease;
}

/* linkedin */
.wrapper ul li:hover.linkedin {
  border: 2px solid #0FACF1;
  box-shadow: 0 0 5px #0FACF1;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-linkedin {
  color: #0FACF1;
  text-shadow: 0 0 5px #0FACF1;
  transition: all 0.5s ease;
}

#particles-js {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: hidden;
}

.nav-button {
	padding-left: .3vw;
	padding-top: .3vw;
	margin: 1vw 1vw;
	z-index: 4;
	font-size: 3vw;
}

.side-nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;	
	background-color: #FDFDFD;
	opacity: 0.9;
	overflow-x: hidden;
	padding-top: .5vw;
	transition: 0.8s;
}

.side-nav a {
	padding: 0vw 1vw 2vw 2.1vw;
	text-decoration: none;
	font-size: 2.2vw;
	color: #000;
	display: block;
	transition: 0.3s;
	top: .25vw;
	margin: 0 0 2vw 0;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.side-nav a:hover {
	color: #2BCFBB;
}

.side-nav .btn-close {
	position: relative;
	top: 0vw;
	left: 10.5vw;
	font-size: 3.5vw;
	margin-left: .1vw;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.footer {
	z-index: 1;
	width: 100%;
	background-color: #FDFDFD;
	height: 4.5vw;
	bottom: 0vw;
	text-align: center;
	position: fixed;
	overflow: hidden;
	opacity: 0.9;
}

.footer .mylogo {
	width: 4vw;
	height: 4vw;
	margin: 0 auto;
	top: .2vw;
	position: relative;
}

@media screen and (max-width: 1600px){
  .wrapper {
      width: 30vw;
  }
  .wrapper ul li{
      margin-top: 0 10%;
  }
}


@media screen and (max-width: 1370px){
  .wrapper {
      width: 30vw;
      left: 15.4vw;
  }
  .wrapper ul li{
      margin-top: 0 10%;
  }
}

/*@media screen and (max-width: 1240px){
  .wrapper {
      width: 35vw;
      left: 16.5vw;
  }
  .wrapper ul li{
      margin-top: 0 10%;
  }
}

@media screen and (max-width: 1000px){
  .wrapper {
      width: 40vw;
      left: 16vw;
  }
  .wrapper ul li{
      margin-top: 0 10%;
  }
}

@media screen and (max-width: 840px){
  .wrapper {
      width: 40vw;
  }
  .wrapper ul li{
      margin-top: 0 10%;
  }
}*/

@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1232px) {
	.wrapper {
		left: 15vw;
	}
	.wrapper ul li{
		margin: 0.5% 8% 0 8%;
	}
}

@media only screen 
and (min-device-width : 1233px) 
and (max-device-width : 1440px) {
	.wrapper {
		left: 16.2vw;
	}
	.wrapper ul li{
		margin: 0.5% 8% 0 8%;
	}
}

@media only screen 
and (min-device-width : 1441px) 
and (max-device-width : 2560px) {
	.wrapper {
		left: 15vw;
	}
}

@media only screen 
and (min-device-width : 701px) 
and (max-device-width : 1023px) {
	.wrapper {
		left: 12.9vw;
	}
}

@media only screen 
and (min-device-width : 300px) 
and (max-device-width : 330px) {
	.wrapper {
		left: 26vw;
		top: 75vw;
	}
	.wrapper {
		font-size: 1.5vw;
	}
	.wrapper ul li{
		margin: 2% 2.2% 0 2.2%;
		width: 5vw;
		height: 5vw;
	}
	.square {
		/* Responsive Square */
		height: 0;
		width: 65%;
		padding-bottom: 85%; /* change height of box */
	}
	.name {
		font-size: 6vw;
		margin: 0 5% 0 5%;
		padding-top: 3%;
		padding-bottom: 0; 
	}
	.title {
		font-size: 3vw;
		margin-left: 10%;
		margin-right: 10%;
		padding-bottom: 5%;
	}
	.nav-button {
		font-size: 8vw;
	}
	.footer {
		height: 12vw;
	}
	.footer .mylogo {
		top: 2.25vw;
		height: 8vw;
		width: 8vw;
	}
	.side-nav {
		transition: 0.4s;
	}
	.side-nav .btn-close {
		top: 0.2vw;
		left: 40vw;
		font-size: 10vw;
		margin-left: .1vw;
		font-weight: bold;
	}
	.side-nav a {
		top: 2vw;
		font-size: 12vw;
		text-align: center;
		margin: 4vw 0 4vw 0;
		font-weight: bold;
		padding: 4vw 0;
	}
}

@media only screen 
and (min-device-width : 331px) 
and (max-device-width : 700px) {
	.wrapper {
		width: 50vw;
		top: 67vw;
		left: 23.6vw;
	}
	.wrapper ul li{
		margin: 2% 9% 0 9%;
		width: 6vw;
		height: 6vw;
	}
	.wrapper {
		font-size: 1.8vw;
	}
	.wrapper ul li .fa {
		margin-top: .68vw;
	}
	.square {
		/* Responsive Square */
		height: 0;
		width: 60%;
		padding-bottom: 75%; /* change height of box */
	}
	.name {
		font-size: 6vw;
		margin: 0 5% 0 5%;
		padding-top: 3%;
		padding-bottom: 0; 
	}
	.title {
		font-size: 3vw;
		margin-left: 10%;
		margin-right: 10%;
		padding-bottom: 5%;
	}
	.nav-button {
		font-size: 8vw;
	}
	.footer {
		height: 12vw;
	}
	.footer .mylogo {
		top: 2.25vw;
		height: 8vw;
		width: 8vw;
	}
	.side-nav {
		transition: 0.4s;
	}
	.side-nav .btn-close {
		top: 0.2vw;
		left: 40vw;
		font-size: 10vw;
		margin-left: .1vw;
		font-weight: bold;
	}
	.side-nav a {
		top: 2vw;
		font-size: 12vw;
		text-align: center;
		margin: 4vw 0 4vw 0;
		font-weight: bold;
		padding: 4vw 0;
	}
}

