* {
	box-sizing: border-box;
}
html {
	height: 100%;
	font-size: 62.5%;
}
body {
	margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.wrapper-background {
	/* The image used */
    background-image: url("images/pic04_comp.jpg");

    /* Full height */
    height: 100%; 
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -ms-content-zooming: none;
    position: absolute;
    overflow: scroll;
}

.square {
	/* Responsive Square */
	height: 0;
	width: 30%;
	padding-bottom: 38%; /* change height of box */
	position: relative;
	margin: auto;
	overflow: hidden;
	top: 20%;
	
	/* Border */
	border: 1px;
	border-radius: 5px;
	background-color: white;
	z-index: 2;
	opacity: 0.92;
}

.content {
	position: absolute;
    height: 90%; /* = 100% - 2*10% padding */
    width: 100%; /* = 100% - 2*5% padding */
    padding: 2% 5%; /* change height change width */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.name {
	font-size: 2.4vw;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-weight: normal;
	margin: 0;
	padding-top: 7%; 
}

.title {
	font-size: 1.6vw;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-weight: normal;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 8%;
	border-bottom: 1px solid #E8E8E8;
}

.centimg {
	width: 100%;
	height: auto;
}

/* Position buttons in bottom of square */
.wrapper {
  position: absolute;
  top: 92%;
  left: 53%;  
  transform: translate(-50%, -50%);
  width: 30vw;
  font-size: .8vw;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
 .wrapper ul li {
  width: 2.4vw; /* adjust width of icon circle */
  height: 2.4vw; /* adjust height of icon circle */
  line-height: .1vw; /* move icon image up and down */
  margin: 0% 10%;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
  padding: 0;
  overflow: hidden;
  display: inline;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
  color: #D8E2DC;
  margin-top: .33vw;
  transition: all 0.5s ease;
} 

/* instagram */
.wrapper ul li:hover.instagram {
  border: 2px solid #E705C5;
  box-shadow: 0 0 5px #E705C5;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #E705C5;
  text-shadow: 0 0 5px #E705C5;
  transition: all 0.5s ease;
}

/* github */
.wrapper ul li:hover.github {
  border: 2px solid #9E9E9E;
  box-shadow: 0 0 5px #9E9E9E;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-github {
  color: #9E9E9E;
  text-shadow: 0 0 5px #9E9E9E;
  transition: all 0.5s ease;
}

/* linkedin */
.wrapper ul li:hover.linkedin {
  border: 2px solid #0FACF1;
  box-shadow: 0 0 5px #0FACF1;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-linkedin {
  color: #0FACF1;
  text-shadow: 0 0 5px #0FACF1;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1600px){
  .wrapper {
      width: 30vw;
  }
  .wrapper ul li{
      margin-top: 0 10%;
  }
}

@media screen and (max-width: 1240px){
  .wrapper {
      width: 35vw;
  }
  .wrapper ul li{
      margin-top: 0 10%;
  }
}

@media screen and (max-width: 840px){
  .wrapper {
      width: 40vw;
  }
  .wrapper ul li{
      margin-top: 0 10%;
  }
}

@media screen and (max-width: 640px){
  .wrapper {
      width: 40vw;
      top: 34.5vw;
      left: 15vw;
  }
  .wrapper ul li{
      margin-top: 0 10%;
  }
}

@media screen and (max-width: 540px){
  .wrapper {
      width: 40vw;
      top: 34.5vw;
      left: 13.5vw;
  }
  .wrapper ul li{
      margin-top: 0 10%;
  }
}

@media screen and (max-width: 440px){
  .wrapper {
      width: 45vw;
      top: 34.5vw;
      left: 13vw;
  }
  .wrapper ul li{
      margin: 0 10%;
  }
}

#particles-js {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: hidden;
}

.nav-button {
	padding-left: .3vw;
	padding-top: .3vw;
	margin: 1vw 1vw;
	z-index: 3;
}

.side-nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;	
	background-color: #FDFDFD;
	opacity: 0.9;
	overflow-x: hidden;
	padding-top: .5vw;
	transition: 0.8s;

}

.side-nav a {
	padding: 0vw 1vw 2vw 3.8vw;
	text-decoration: none;
	font-size: 2vw;
	color: #000;
	display: block;
	transition: 0.3s;
	top: .25vw;

}

.side-nav a:hover {
	color: #fff;
}

.side-nav .btn-close {
	position: relative;
	top: 0.1vw;
	left: 9vw;
	font-size: 2.5vw;
	margin-left: .1vw;
}