* {
	box-sizing: border-box;
}
html {
	height: 100%;
	font-size: 62.5%;
	background-color: #F0F0F0;
}
body {
	margin: 0;
    padding: 0;
    opacity: 1;
    transition: 0.5s opacity;
    overflow: hidden;
}
body.fade-out {
	opacity: 0;
	transition: none;
}
.temp {
	z-index: 10;
	margin: 0 auto;
	padding: 0;
	top: 0;
	left: 37vw;
	position: absolute;
	font-size: 2vw;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
.wrapper-background, .wrapper-background-scroll {
	/* The image used */
    background-image: url("images/pic04_comp.jpg");
    /* Full height */
    height: 100%; 
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -ms-content-zooming: none;
    position: absolute;
    overflow-x: hidden;
    scroll-behavior: smooth;
    z-index: 0;
    margin: 0;
}
.wrapper-background { 
	/*For non-scroll pages*/
	overflow-y: hidden;
}
.wrapper-background-scroll {
	/*for scroll pages*/
	overflow-y: scroll;
}
.square {
	/* Responsive Square */
	height: 0;
	width: 30%;
	padding-bottom: 38%; /* change height of box */
	position: relative;
	margin: auto;
	overflow: hidden;
	top: 4%;
	
	/* Border */
	border: 1px;
	border-radius: 5px;
	background-color: #FBFBFB;
	z-index: 8;
	opacity: 0.92;
}
.content {
	position: absolute;
    height: 90%; /* = 100% - 2*10% padding */
    width: 100%; /* = 100% - 2*5% padding */
    padding: 2% 5%; /* change height change width */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.name {
	font-size: 2.4vw;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-weight: normal;
	margin: 0;
	padding-top: 7%; 
}
.title {
	font-size: 1.6vw;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-weight: normal;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 8%;
	border-bottom: 1px solid #E8E8E8;
}
.centimg {
	width: 100%;
	height: auto;
}
/* Position buttons in bottom of square */
.wrapper {
  position: absolute;
  top: 92%;
  left: 50%;  
  transform: translate(-48%, -80%);
  width: 30vw;
  font-size: .8vw;
}
/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}
 .wrapper ul li {
  width: 2.6vw; /* adjust width of icon circle */
  height: 2.6vw; /* adjust height of icon circle */
  line-height: .1vw; /* move icon image up and down */
  margin: 0% 10%;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
  padding: 0;
  overflow: hidden;
  display: inline;
}
.wrapper ul li .fa {
  color: #D8E2DC;
  margin: .4vw auto;
  transition: all 0.5s ease;
} 
/* instagram */
.wrapper ul li:hover.instagram {
  border: 2px solid #E705C5;
  box-shadow: 0 0 5px #E705C5;
  transition: all 0.5s ease;
}
.wrapper ul li:hover .fa-instagram {
  color: #E705C5;
  text-shadow: 0 0 5px #E705C5;
  transition: all 0.5s ease;
}
/* github */
.wrapper ul li:hover.github {
  border: 2px solid #9E9E9E;
  box-shadow: 0 0 5px #9E9E9E;
  transition: all 0.5s ease;
}
.wrapper ul li:hover .fa-github {
  color: #9E9E9E;
  text-shadow: 0 0 5px #9E9E9E;
  transition: all 0.5s ease;
}
/* linkedin */
.wrapper ul li:hover.linkedin {
  border: 2px solid #0FACF1;
  box-shadow: 0 0 5px #0FACF1;
  transition: all 0.5s ease;
}
.wrapper ul li:hover .fa-linkedin {
  color: #0FACF1;
  text-shadow: 0 0 5px #0FACF1;
  transition: all 0.5s ease;
}
#particles-js {
	position: absolute;
	height: 150vw;
	width: 100%;
	z-index: 1;
	opacity: 0.65;
}
.nav-button {
	padding-left: .3vw;
	padding-top: .3vw;
	margin: 1vw 1vw;
	z-index: 9;
	font-size: 3vw;
}
.side-nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;	
	background-color: #FDFDFD;
	opacity: 0.9;
	overflow-x: hidden;
	padding-top: .5vw;
	transition: 0.8s;
}
.side-nav a {
	padding: 0vw 1vw 2vw 2.1vw;
	text-decoration: none;
	font-size: 2.2vw;
	color: #000;
	display: block;
	transition: 0.3s;
	top: .25vw;
	margin: 0 0 2vw 0;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
.side-nav a:hover {
	color: #2BCFBB;
}
.side-nav .btn-close {
	position: relative;
	top: 0vw;
	left: 10.5vw;
	font-size: 3.5vw;
	margin-left: .1vw;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
.footer {
	z-index: 10;
	width: 100%;
	background-color: #FDFDFD;
	height: 4.5vw;
	bottom: 0vw;
	text-align: center;
	position: fixed;
	opacity: 0.9;
}
.footer .mylogo {
	width: 4vw;
	height: 4vw;
	margin: 0 auto;
	top: .2vw;
	position: relative;
	background-color: #FDFDFD;
}
.about_layout {
	z-index: 7;
	position: relative;
	color: white;
	margin: 0;
	padding: 0;
	opacity: 0.95;
}
.profpicbanner1 {
	width: 38%;
	left: 5vw;
	height: 1vw;
	top: 7vw;
	position: relative;
	border-bottom: .3vw solid white;
	border-bottom-left-radius: .3vw;
	border-bottom-right-radius: .3vw;
}
.profpicbanner2 {
	width: 38%;
	left: 57vw;
	height: 1vw;
	top: 5.9vw;
	position: relative;
	border-bottom: .3vw solid white;
	border-bottom-left-radius: .3vw;
	border-bottom-right-radius: .3vw;
}
.profpicround {
	width: 13vw;
	height: 13vw;
	border-radius: 10vw;
	left: 43.5vw;
	top: -0.1vw;
	background-color: white;
	position: absolute;
	z-index: 7;
}
.myprof {
	width: 12vw;
	height: 12vw;
	position: absolute;
	left: 44vw;
	z-index: 8;
	top: 4.43vw;
	opacity: 0.95;
}
.about_temp {
	width: 70vw;
	height: 12.5vw;
	border-radius: .7vw;
	left: 15vw;
	top: 25vw;
	background-color: #F4F4F4;
	position: absolute;
	opacity: 0.9;
}
.about_temp p{
	color: black;
	text-align: left;
	font-size: 1.34vw;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	margin: 1.9vw;
	line-height: 1.6;
}
#Quote{
	text-align: center;
	font-style: italic;
}
.about_wrapper {
	position: relative;
	z-index: 8;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 1.2vw;
}
.about_wrapper a:link {
	text-decoration: none;
	color: black;
}
.about_wrapper a:visited {
	text-decoration: none;
	color: black;
}
.about_wrapper a:hover, .about_wrapper button:hover{
	text-decoration: none;
	color: #061817;
	text-shadow: 0 0 0.5px #061817;
	transition: all 0.3s ease;
	border-bottom-color: #60CCD1;
	opacity: 0.8;
}
.about_content, .about_skills, .about_interests {
	position: absolute;
	font-weight: bold;
	text-transform: uppercase;
	
	height: 3.5vw;
	width: 17vw;
	opacity: 0.5;
	border-width: 0 0 .15vw 0;
	border-bottom-style: solid;
	border-bottom-color: white;
	background-color: transparent;
	overflow: hidden;
	font-size: 2.25vw;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
.about_content {
	left: 41.5vw;
	top: 15.5vw;
}
.skills_temp {
	width: 70vw;
	height: 8vw;
	border-radius: .7vw;
	left: 15vw;
	top: 58vw;
	background-color: #F4F4F4;
	position: absolute;
	z-index: 7;
	opacity: 0.9;
}
.about_skills {
	left: 21vw;
	top: 15.5vw;
}
.about_skills_list {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	top: 56vw;
	text-align: center;
	font-size: 3vw;
	position: relative;
	z-index: 8;
}
.about_skills_list ul {
	font-size: 2vw;
	text-decoration: none;
	list-style: none;
	-moz-column-count: 3;
    -moz-column-gap: 3.5vw;
    -webkit-column-count: 3;
    -webkit-column-gap: 3.5vw;
    column-count: 3;
    column-gap: 3vw;
    line-height: 1.6;
    display: inline;
    position: absolute;
	left: 16vw;
 
}
#Python:hover, #SQL:hover, #PowerBI:hover, #ML:hover, #OOP:hover, #Statistics:hover, #Git:hover, #PyTorch:hover, #sklearn:hover {
	color: white;
	text-shadow: 0 0 2px white;
	transition: all 0.3s ease;
}
#linktoskills {
	top: 46vw;
	position: relative;
}
.about_interests {
	top: 15.5vw;
	left: 62vw;
}
.about_interests_link {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	text-align: center;
	font-size: 3vw;
	width: 70vw;
	height: 35vw;
	border-radius: .7vw;
	left: 15vw;
	top: 105vw;
	background-color: #F4F4F4;
	position: absolute;
	opacity: 0.9;
	z-index: 7
}
#linktointerests {
	top: 117vw;
	position: relative;
	height: 5vw;
}
.interests_img_wrap img {
	height: 12vw;
	width: 12vw;
	position: absolute;
	top: 3vw;
	opacity: 0.4;
}
.interests_img_wrap img:hover {
	opacity: 1;
}
.interests_img_wrap #analytics_wrap:hover #analytics_text {
	visibility: visible;
	opacity: 1;
}
.interests_img_wrap #ramen_wrap:hover #ramen_text {
	visibility: visible;
	opacity: 1;
}
.interests_img_wrap #machine_learning_wrap:hover #machine_learning_text {
	visibility: visible;
	opacity: 1;
}
.interests_img_wrap #green_e_wrap:hover #green_e_text {
	visibility: visible;
	opacity: 1;
}
.interests_img_wrap #blockchain_wrap:hover #blockchain_text {
	visibility: visible;
	opacity: 1;
}
.interests_img_wrap #analytics {
	left: 1.5vw;
}
.interests_img_wrap #machine_learning {
	left: 15vw;
}
.interests_img_wrap #green_e {
	left: 29vw;
}
.interests_img_wrap #blockchain {
	left: 42vw;
}
.interests_img_wrap #ramen {
	left: 56vw;
}
.interests_img_wrap p {
	position: absolute;
	top: 16vw;
	font-size: 6vw;
}
.interests_img_wrap #analytics_text {
	left: 17vw;
	visibility: hidden;
	opacity: 0;
}
.interests_img_wrap #ramen_text {
	left: 25vw;
	visibility: hidden;
	opacity: 0;
}
.interests_img_wrap #machine_learning_text {
	left: 6.75vw;
	visibility: hidden;
	opacity: 0;
}
.interests_img_wrap #green_e_text {
	left: 3.75vw;
	visibility: hidden;
	opacity: 0;
}
.interests_img_wrap #blockchain_text {
	left: 17vw;
	visibility: hidden;
	opacity: 0;
}
#linktotop {
	top: 0vw;
}
#up_btn {
	position: fixed;
	z-index: 9;
	bottom: 6vw;
	right: 3vw;
	opacity: 0.7;
}
#up_btn img {
	height: 3.5vw;
	width: 3.5vw;
}
#up_btn:hover, #up_btn:focus {
	opacity: 1;
}
.form {
	left: 11vw;
	position: relative;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	z-index: 8;
}
.form p {
	font-size: 4vw;
	margin-left: 0.6vw;
	margin-top: 0.65vw;
	margin-bottom: -0.3vw;
	opacity: 0.7;
}
.form input, .form textarea {
	display: block;
	margin-top: 1.8vw;
	font-size: 1vw;
	border: 0.15vw solid grey;
	padding: 1vw;
	letter-spacing: 0.1vw;
	border-radius: 0.2vw;
	-moz-border-radius: 0.2vw;
    -webkit-border-radius: 0.2vw;
    opacity: 0.8;
}
#submit {
	width: 5vw;
	margin: 1vw 0 0 30vw;
	border-radius: 0.5vw;
	cursor: pointer;
	opacity: 0.9;
}
#submit:hover {
	background-color: #A9A9A9;
	color: white;
}
.form input {
	width: 35vw;
	height: 3.5vw;
}
.form textarea {
	width: 35vw;
	height: 14vw;
}
.form input:focus, .form textarea:focus {
	border: .3vw solid #60CCD1;
}
#thank_you {
	height: 30vw;
	width: 85vw;
	opacity: 0.85;
	background-color: white;
	position: relative;
	margin: 0 auto;
	border-radius: 1vw;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
#thank_you p {
	font-size: 4vw;
	text-align: center;
	padding: 8vw;
	letter-spacing: 0.01vw;
}
#map, #map_overlay {
	left: 53vw;
	top: 5vw;
	width: 43vw;
	height: 40vw;
	position: absolute;
}
#map_overlay {
	z-index: 9;
	opacity: 0.15;
	background-color: #60CCD1;
	pointer-events: none;
}
#map {
	z-index: 8;
}
/*Small Laptops*/
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1232px) {
	.wrapper {
		left: 15vw;
	}
	.wrapper ul li{
		margin: 0.5% 8% 0 8%;
	}
	.about_skills_list ul {
	    left: 16vw;
	}
}
/*Medium Laptops*/
@media only screen 
and (min-device-width : 1233px) 
and (max-device-width : 1440px) {
	.wrapper {
		left: 15.9vw;
	}
	.wrapper ul li{
		margin: 0.5% 8% 0 8%;
	}
}
/*Large laptops*/
@media only screen 
and (min-device-width : 1441px) 
and (max-device-width : 2560px) {
	.wrapper {
		left: 15vw;
	}
	.about_skills_list ul {
	    left: 16.5vw;
	}
}
/*Tablets*/
@media only screen 
and (min-device-width : 701px) 
and (max-device-width : 1023px) {
	.wrapper {
		left: 12.9vw;
	}
	.about_skills_list ul {
	    left: 15vw;
	}
	.about_temp {
		height: 10vw;
	}
}
/*Small Mobile*/
@media only screen 
and (min-device-width : 300px) 
and (max-device-width : 330px) {
	.wrapper-background {
		height: 100%;
	}
	.wrapper {
		left: 26vw;
		top: 75vw;
	}
	.wrapper {
		font-size: 1vw;
	}
	.wrapper ul li{
		margin: 2% 2.2% 0 2.2%;
		width: 5vw;
		height: 5vw;
	}
	.square {
		/* Responsive Square */
		height: 0;
		width: 65%;
		padding-bottom: 85%; /* change height of box */
	}
	.name {
		font-size: 6vw;
		margin: 0 5% 0 5%;
		padding-top: 3%;
		padding-bottom: 0; 
	}
	.title {
		font-size: 3vw;
		margin-left: 10%;
		margin-right: 10%;
		padding-bottom: 5%;
	}
	.nav-button {
		font-size: 8vw;
	}
	.footer {
		height: 12vw;
	}
	.footer .mylogo {
		top: 2.25vw;
		height: 8vw;
		width: 8vw;
	}
	.side-nav {
		transition: 0.4s;
	}
	.side-nav .btn-close {
		top: 0.2vw;
		left: 40vw;
		font-size: 10vw;
		margin-left: .1vw;
		font-weight: bold;
	}
	.side-nav a {
		top: 2vw;
		font-size: 12vw;
		text-align: center;
		margin: 4vw 0 4vw 0;
		font-weight: bold;
		padding: 4vw 0;
	}
	.myprof {
		top: 11.6vw;
		width: 30vw;
		height: 30vw;
		left: 35vw;
	}
	.profpicbanner1 {
		top: 16vw;
		border-bottom: 1vw solid white;
		border-bottom-left-radius: 1vw;
		border-bottom-right-radius: 1vw;
	}
	.profpicbanner2 {
		top: 15vw;
		border-bottom: 1vw solid white;
		border-bottom-left-radius: 1vw;
		border-bottom-right-radius: 1vw;
	}
	.profpicround {
		width: 32vw;
		height: 32vw;
		border-radius: 30vw;
		left: 33.8vw;
	}
	.about_temp {
		width: 85vw;
		height: 38vw;
		border-radius: 1vw;
		left: 8vw;
		top: 50vw;
	}
	.about_temp p{
		font-size: 3vw;
	}
	.about_wrapper {
		font-size: 9vw;
	}
	.about_content , .about_skills , .about_interests {
		height: 6vw;
		width: 26.5vw;
		border-width: 0 0 .3vw 0;
		font-size: 3.75vw;
	}
	.about_content {
		left: 37vw;
		top: 37.5vw;
	}
	.about_skills {
		left: 8.5vw;
		top: 37.5vw;
	}
	.about_interests {
		left: 65.5vw;
		top: 37.5vw;
	}
	#linktoskills {
		top: 150vw;
	}
	.skills_temp {
		top: 218vw;
		height: 14vw;
		width: 85vw;
		left: 7.5vw;
		border-radius: 1vw;
	}
	.about_skills_list {
		top: 215vw;
		font-size: 5vw;
	}
	.about_skills_list ul {
		font-size: 2vw;
	    column-gap: 5vw;
	    left: 5vw;
	}
	.about_interests_link {
		width: 85vw;
		height: 70vw;
		border-radius: 1vw;
		top: 358vw;
		left: 7.5vw;
	}
	#linktointerests {
		top: 330vw;
		height: 150vw;
	}
	.interests_img_wrap img {
		height: 20vw;
		width: 20vw;
	}
	.interests_img_wrap #analytics {
		top: 4vw;
		left: 7vw;
	}
	.interests_img_wrap #machine_learning {
		top: 4vw;
		left: 33vw;
	}
	.interests_img_wrap #green_e {
		top: 4vw;
		left: 60vw;
	}
	.interests_img_wrap #blockchain {
		top: 27vw;
		left: 18vw;
	}
	.interests_img_wrap #ramen {
		top: 27vw;
		left: 47vw;
	}
	.interests_img_wrap p {
		top: 45vw;
		font-size: 8vw;
	}
	.interests_img_wrap #analytics_text {
		left: 4vw;
		top: 42vw;
	}
	.interests_img_wrap #ramen_text {
		left: 25vw;
	}
	.interests_img_wrap #machine_learning_text {
		left: 5vw;
	}
	.interests_img_wrap #green_e_text {
		left: 3.75vw;
		top: 43vw;
	}
	.interests_img_wrap #blockchain_text {
		left: 18vw;
	}
	#map, #map_overlay {
		left: 10vw;
		top: 100vw;
		width: 80vw;
		height: 70vw;
		border-radius: 1vw;
	}
	.form p {
		font-size: 8vw;
		margin-left: 0.6vw;
		margin-top: 2vw;
		margin-bottom: 2vw;
	}
	.form input, .form textarea {
		margin-top: 3vw;
		font-size: 3.5vw;
		padding: 1vw;
		letter-spacing: 0.25vw;
		border-radius: 1vw;
		-moz-border-radius: 1vw;
	    -webkit-border-radius: 1vw;
	}
	#submit {
		width: 15vw;
		margin: 3.5vw 0 0 65vw;
	}
	.form input {
		width: 80vw;
		height: 8vw;
	}
	.form textarea {
		width: 80vw;
		height: 25vw;
	}
	#thank_you {
		height: 90vw;
		width: 85vw;
		margin: 15vw auto;
		border-radius: 2vw;
	}
	#thank_you p {
		font-size: 9vw;
		padding: 25vw 1vw;
		letter-spacing: 0.01vw;
	}
}
/*Medium & Large Mobile*/
@media only screen 
and (min-device-width : 331px) 
and (max-device-width : 700px) {
	.wrapper-background {
		height: 100%;
	}
	.wrapper {
		width: 50vw;
		top: 68vw;
		left: 23.6vw;
	}
	.wrapper ul li{
		margin: 2% 9% 0 9%;
		width: 6vw;
		height: 6vw;
	}
	.wrapper {
		font-size: 1.8vw;
	}
	.wrapper ul li .fa {
		margin-top: .68vw;
	}
	.square {
		/* Responsive Square */
		height: 0;
		width: 60%;
		padding-bottom: 75%; /* change height of box */
	}
	.name {
		font-size: 6vw;
		margin: 0 5% 0 5%;
		padding-top: 3%;
		padding-bottom: 0; 
	}
	.title {
		font-size: 3vw;
		margin-left: 10%;
		margin-right: 10%;
		padding-bottom: 5%;
	}
	.nav-button {
		font-size: 8vw;
	}
	.footer {
		height: 12vw;
	}
	.footer .mylogo {
		top: 2.25vw;
		height: 8vw;
		width: 8vw;
	}
	.side-nav {
		transition: 0.4s;
	}
	.side-nav .btn-close {
		top: 0.2vw;
		left: 40vw;
		font-size: 10vw;
		margin-left: .1vw;
		font-weight: bold;
	}
	.side-nav a {
		top: 2vw;
		font-size: 12vw;
		text-align: center;
		margin: 4vw 0 4vw 0;
		font-weight: bold;
		padding: 4vw 0;
	}
	.myprof {
		top: 12.2vw;
		width: 30vw;
		height: 30vw;
		left: 35vw;
	}
	.profpicbanner1 {
		top: 16vw;
		border-bottom: 1vw solid white;
		border-bottom-left-radius: 1vw;
		border-bottom-right-radius: 1vw;
	}
	.profpicbanner2 {
		top: 15vw;
		border-bottom: 1vw solid white;
		border-bottom-left-radius: 1vw;
		border-bottom-right-radius: 1vw;
	}
	.profpicround {
		width: 32vw;
		height: 32vw;
		border-radius: 30vw;
		left: 33.8vw;
		top: 0.5vw;
	}
	.about_temp {
		width: 85vw;
		height: 26vw;
		border-radius: 1vw;
		left: 8vw;
		top: 70vw;
	}
	.about_temp p{
		font-size: 2.6vw;
	}
	.about_wrapper {
		font-size: 9vw;
	}
	.about_content , .about_skills , .about_interests {
		height: 6vw;
		width: 28vw;
		border-width: 0 0 .3vw 0;
		font-size: 3.5vw;
		text-align: center;
	}
	.about_content {
		left: 36.5vw;
		top: 37.5vw;
	}
	.about_skills {
		left: 7.5vw;
		top: 37.5vw;
	}
	.about_interests {
		left: 66vw;
		top: 37.5vw;
	}
	#linktoskills {
		top: 130vw;
	}
	.skills_temp {
		top: 168vw;
		height: 14vw;
		width: 85vw;
		left: 7.5vw;
		border-radius: 1vw;
	}
	.about_skills_list {
		top: 165vw;
		font-size: 4.5vw;
	}
	.about_skills_list ul {
		font-size: 3vw;
	    column-gap: 3.5vw;
	    left: -3.5vw;
	}
	.about_interests_link {
		width: 85vw;
		height: 70vw;
		border-radius: 1vw;
		top: 293vw;
		left: 7.5vw;
	}
	#linktointerests {
		top: 265vw;
		height: 120vw;
	}
	.interests_img_wrap img {
		height: 21vw;
		width: 21vw;
	}
	.interests_img_wrap #analytics {
		top: 4.5vw;
		left: 6vw;
	}
	.interests_img_wrap #machine_learning {
		top: 4vw;
		left: 33vw;
	}
	.interests_img_wrap #green_e {
		top: 4vw;
		left: 60vw;
	}
	.interests_img_wrap #blockchain {
		top: 27vw;
		left: 18vw;
	}
	.interests_img_wrap #ramen {
		top: 27vw;
		left: 47vw;
	}
	.interests_img_wrap p {
		top: 45vw;
		font-size: 8vw;
	}
	.interests_img_wrap #analytics_text {
		left: 2vw;
		top: 42.5vw;
	}
	.interests_img_wrap #ramen_text {
		left: 25vw;
	}
	.interests_img_wrap #machine_learning_text {
		left: 5vw;
	}
	.interests_img_wrap #green_e_text {
		left: 3.75vw;
		top: 43vw;
	}
	.interests_img_wrap #blockchain_text {
		left: 18vw;
	}
	#map, #map_overlay {
		left: 10vw;
		top: 80vw;
		width: 80vw;
		height: 50vw;
		border-radius: 0.7vw;
	}
	.form p {
		font-size: 8vw;
		margin-left: 0.6vw;
		margin-top: -1vw;
		margin-bottom: 2vw;
	}
	.form input, .form textarea {
		margin-top: 3vw;
		font-size: 2.5vw;
		padding: 1vw;
		letter-spacing: 0.25vw;
		border-radius: 0vw;
		-moz-border-radius: 0vw;
	    -webkit-border-radius: 0vw;
	}
	#submit {
		width: 15vw;
		margin: 3.5vw 0 0 65vw;
	}
	.form input {
		width: 80vw;
		height: 5vw;
	}
	.form textarea {
		width: 80vw;
		height: 20vw;
	}
	#thank_you {
		height: 90vw;
		width: 85vw;
		margin: 15vw auto;
		border-radius: 2vw;
	}
	#thank_you p {
		font-size: 7vw;
		padding: 25vw 1vw;
		letter-spacing: 0.01vw;
	}
}